---
// Contact Info Cards
// ------------
// Description: A contact info cards section with a title
// Properties:
// - title: The title of the contact info cards section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ActionCard from '../../ui/cards/ActionCard.astro'
import DecorationBorder from '../../ui/DecorationBorder.astro'

// Content
// - Props
type Props = {
	title?: string
}
const { title = '' } = Astro.props
---

<Section>
	<Row decorationBorder="top left " gapY="0" style="transparent">
		<Col
			span="12"
			classes="px-8 py-12 relative bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed dark:bg-[url('/bgs/dot-gray-dark.svg')] dark:bg-size-[18px] dark:bg-fixed "
		>
			<h2 class="h5 mb-0! text-center leading-0">{title}</h2>
			<DecorationBorder type="bottom" style="dashed" />
		</Col>
	</Row>
</Section>
<Section>
	<Row decorationBorder="top left right bottom" gapY="0" style="transparent">
		<Col span="4" style="transparent">
			<ActionCard title="Support" link="mailto:support@blueauroralabs.com" linkText="Get Support">
				<p>
					Already a client? Our support team is here to help with questions, updates, or anything
					you need to keep your website running smoothly.
				</p>
			</ActionCard>
		</Col>
		<Col span="4" style="transparent">
			<ActionCard title="New Projects" link="mailto:hello@blueauroralabs.com" linkText="Start a Project">
				<p>
					Ready to build something? Tell us about your business and what you need — we’ll get back
					to you with a proposal within two business days.
				</p>
			</ActionCard>
		</Col>
		<Col span="4" style="transparent">
			<ActionCard title="Partnerships" link="mailto:partnerships@blueauroralabs.com" linkText="Get in Touch">
				<p>
					Interested in referring clients, collaborating on a project, or exploring a partnership?
					We’d love to hear from you.
				</p>
			</ActionCard>
		</Col>
	</Row>
</Section>
